RewriteEngine On

# Some alternate urls
RewriteRule ^pgp$ https://tim.clifford.lol/tim_clifford.asc [L,R=301]
RewriteRule ^gpg$ https://tim.clifford.lol/tim_clifford.asc [L,R=301]
RewriteRule ^tim_clifford.gpg$ https://tim.clifford.lol/tim_clifford.asc [L,R=301]

## This was the url in my email footer for a bit
RewriteRule ^why_pgp$ https://tim.clifford.lol/why-pgp [L,R=301]

## I link to this enough to warrant it
RewriteRule ^why-foss$ https://tim.clifford.lol/blog/why-foss [L,R=301]

## Might change later, shouldn't get people to subscribe directly
#RewriteRule ^music/rss.xml https://dalek.zone/feeds/videos.xml?videoChannelId=18406 [L,P]
RewriteRule ^music/rss.xml /cgi-bin/proxy_rss.py [L]

# Force HTTPS
RewriteCond %{HTTP_HOST} !^tim\.clifford\.lol$ [NC]
RewriteRule ^(.*)$ https://tim.clifford.lol%{REQUEST_URI} [L,R=301]

ErrorDocument 404 /404.html

SetEnvIf Origin "http(s)?://(.+\.)?clifford\.lol(:\d{1,5})?$" CORS=$0

Header set Access-Control-Allow-Origin "%{CORS}e" env=CORS
Header merge  Vary "Origin"

Options +Includes
AddType text/html .shtml
AddOutputFilter INCLUDES .shtml
